<!DOCTYPE html>
<html>
<head>
  <title>HerokuRailsTutorial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <p>Header Items:</p>
  <% if current_user %>
    <ul>
      <li><%= image_tag current_user.image_url, alt: current_user.name, size: "20x20" %></li>
      <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
    </ul>
  <% else %>
    <ul>
      <li><%= link_to 'GitHub', '/auth/github' %></li>
      <li><%= link_to 'Google+', '/auth/google' %></li>
    </ul>
  <% end %>
</header>
<%= yield %>

</body>
</html>
